<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/api/api.shared.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/api/api.readingpoints.js")" type="text/javascript"></script>
    @RenderSection("Includes",false)
</head>

<body style="background-color: White;">
@RenderBody()
</body>
</html>
