@model GeigerCrowd.Models.ReadingPoint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ReadingPoint</legend>

    <div class="display-label">Date</div>
    <div class="display-field">@String.Format("{0:g}", Model.Date)</div>

    <div class="display-label">Reading</div>
    <div class="display-field">@String.Format("{0:F}", Model.Reading)</div>

    <div class="display-label">Latitude</div>
    <div class="display-field">@String.Format("{0:F}", Model.Latitude)</div>

    <div class="display-label">Longitude</div>
    <div class="display-field">@String.Format("{0:F}", Model.Longitude)</div>

    <div class="display-label">UserId</div>
    <div class="display-field">@Model.UserId</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


